h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat';
    font-weight: 400;
}

ul{
    list-style: none;
}

a,
a:hover{
    text-decoration: none;
}

section{
    padding: 100px 0;
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #555;
    position: relative;
    margin-bottom: 60px;
}

.title::after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #555;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

.subtitle{
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    color: #555;
    margin-bottom: 70px;
}

.burger{
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 24px;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
}

.fa-close{
    display: none;
}

.header{
    padding: 40px 0 260px;
    background: url('../images/header_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.logo:hover{
    color: #fff;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    max-width: 540px;
    width: 100%;
}

.header-menu__link{
    font-size: 14px;
    color: #fff;
}

.header-menu__link:hover{
    color: #fff;
}

.header__title{
    text-transform: uppercase;
    font-size: 48px;
    color: #fff;
    margin: 261px 0 33px;
}

.header__subtitle{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin-bottom: 54px;
    text-transform: capitalize;
}

.header__btn{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 17px 33px;
    border: 2px solid #fff;
    border-radius: 2px;
    display: inline-block;
}

.header__btn:hover{
    color: #fff;
}

.services{
    text-align: center;
}

.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin: 0 auto 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: #c0301c;
    transition: 0.6s;
}

.col-xl-4:hover .circle{
    background: #c0301c;
    color: #fff;
}

.service__title{
    text-transform: uppercase;
    font-size: 14px;
    color: #555;
    margin-bottom: 24px;
}

.service__text{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    color: #555;
    line-height: 24px;
}

.about{
    background: #f8f8f8;
}

.about__text{
    font-family: 'Roboto Slab';
    font-size: 14px;
    color: #555;
    line-height: 24px;
    text-align: justify;
}

.about-slider__item{
    padding: 0 15px;
    text-align: center;
}

.about-slider__img{
    width: 100%;
    margin: 0 auto;
    height: 250px;
}

.about-slider__media{
    position: relative;
    margin-bottom: 20px;
}

.about-slider__social{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(85, 85, 85, 0.502);
    padding-top: 190px;
    display: none;
}

.about-slider__link{
    display: inline-flex;
    width: 28px;
    height: 28px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.about-slider__link:hover{
    background: #c0301c;
    color: #fff;
}

.about-slider__item:hover .about-slider__social{
    display: block;
}

.about-slider__title{
    text-transform: uppercase;
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.about-slider__subtitle{
    font-family: 'Roboto Slab';
    font-size: 13px;
    color: #555;
}

.about-slider{
    position: relative;
    margin-top: 70px;
}

.slick-prev,
.slick-next{
    position: absolute;
    border: none;
    width: 35px;
    height: 38px;
    z-index: 2;
    background: #8b8b8b;
    color: #fff;
    font-size: 25px;
    top: 106px;
    left: 15px;
}

.slick-next{
    right: 14px;
    left: auto;
}

.slick-prev:hover,
.slick-next:hover{
    background: #c0301c;
}

.gallery-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.gallery__btn{
    border: none;
    background: none;
    font-family: 'Roboto Slab';
    font-size: 16px;
    color: #555;
    margin: 0 12px;
}

.gallery__btn_active{
    color: #c0301c;
}

.gallery-item{
    position: relative;
}

.gallery-item__media{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(192, 48, 28, 0.702);
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-item:hover .gallery-item__media{
    display: flex;
}

.gallery-item__title{
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.gallery-item__subtitle{
    color: #fff;
    font-family: 'Roboto Slab';
    font-size: 12px;
    margin-bottom: 25px;
}

.gallery-item__link{
    width: 100px;
    height: 38px;
    background: #fff;
    color: #c0301c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab';
    font-size: 14px;
    text-transform: uppercase;
}

.gallery-item__link .fa{
    margin-left: 5px;
    font-size: 20px;
    line-height: 37px;
}

.gallery-item__link:hover{
    color: #c0301c;
}

.works .col-xl-4{
    margin-bottom: 30px;
}

.like{
    background: url('../images/call_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.like__text{
    color: #fff;
    font-family: 'Roboto Slab';
    font-size: 30px;
    line-height: 44px;
}

.like__link{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto Slab';
    font-size: 18px;
    padding: 17px 35px;
    border: 2px solid #fff;
    margin-top: 53px;
}

.post-date{
    width: 76px;
    height: 76px;
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #777;
    font-weight: 700;
    margin-right: 28px;
}

.post-date span{
    font-size: 24px;
}

.post-header{
    display: flex;
    margin-bottom: 20px;
}

.post-text__title{
    text-transform: uppercase;
    font-size: 16px;
    color: #c0301c;
    margin: 10px 0 10px;
}

.post-text__subtitle{
    font-family: 'Roboto Slab';
    font-size: 13px;
    color: #777;
}

.post-text__subtitle span{
    color: #c0301c;
}

.blog__text{
    font-family: 'Roboto Slab';
    font-size: 14px;
    color: #555;
    line-height: 24px;
    margin-bottom: 30px;
}

.blog__link{
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #c0301c;
}

.blog-line{
    height: 2px;
    background: #ddd;
    margin: 38px 0;
}

.sponsor-slider{
    margin-top: 68px;
    text-align: center;
}

.sponsor-slider__text{
    font-family: 'Roboto Slab';
    font-size: 18px;
    color: #555;
    line-height: 30px;
}

.sponsor-slider__title{
    font-family: 'Roboto Slab';
    font-size: 20px;
    color: #555;
    margin: 40px 0;
}

.slick-dots button{
    display: none;
}

.slick-dots li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #ddd;
    margin: 0 4px;
}

.slick-dots .slick-active{
    background: #c0301c;
}

.slick-dots{
    display: flex;
    justify-content: center;
}

.address{
    display: flex;
}

.address .fa{
    font-size: 25px;
}

.address-location{
    margin-left: 14px;
    padding-top: 4px;
}

.address-location__title{
    text-transform: uppercase;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.address-location__text{
    font-family: 'Roboto Slab';
    font-size: 12px;
    color: #555;
    line-height: 20px;
}

.address:not(:last-child){
    margin-bottom: 35px;
}

.address-location__link{
    color: #555;
}

.contact-form__input,
.contact-form__textarea{
    width: 48%;
    height: 44px;
    border: 1px solid #555;
    padding-left: 16px;
    margin-bottom: 21px;
    font-family: 'Roboto Slab';
    font-size: 12px;
    color: #555;
    outline: none;
}

.contact-form__input::placeholder,
.contact-form__textarea::placeholder{
    text-transform: uppercase;
}

.contact-form__input:focus,
.contact-form__textarea:focus{
    border-color: #c0301c;
}

.contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact-form__textarea{
    width: 100%;
    height: 104px;
    padding-top: 16px;
    resize: none;
}

.contact-form__btn{
    font-family: 'Roboto Slab';
    font-size: 12px;
    color: #555;
    text-transform: uppercase;
    border: 1px solid #555;
    padding: 16px 35px;
    background: none;
}

.contact-form__text{
    margin-right: auto;
    margin-left: 38px;
    font-family: 'Roboto Slab';
    font-size: 12px;
    color: #555;
}

.contact-form__text::before{
    content: "\2605";
    color: #c0301c;
}